.food {
    background-color: $blue;


    &__hero {

        @include breakpoint-up(large) {
            display: flex;
        }

        padding-top: 100px;
        margin-inline: 7%;

        h1 {
            font-size: 60px;
            font-family: $roman;
            margin: 0;

            @include breakpoint-up(large) {
                font-size: 200px;
                line-height: 190px;
            }
        }

        &__left {

            @include breakpoint-up(large) {
                width: 50%;
            }

            &-title {

                display: inline-block;
                position: relative;
                left: -6px;
                font-family: apercu mono, sans-serif;
                font-size: 16px;
                opacity: .35;
                color: #000;
                transform: rotate(90deg);
                margin-bottom: 115px;


                &::after {
                    position: absolute;
                    content: "\21E3";
                    color: #000;
                    font-size: 24px;
                    bottom: -6px;
                    transform: rotate(-90deg);
                    right: -30px;
                }
            }
        }

        &__right {

            @include breakpoint-up(large) {
                width: 50%;
            }

            p {
                @include breakpoint-up(large) {
                    margin: 0;
                }
            }

            &-times {
                text-align: right;
                font-family: $apercuM;
                font-size: 14px;
            }

            &-img {
                position: relative;

                @include breakpoint-up(large) {
                    margin-left: 20%;
                    margin-top: 70px;
                }

                span {
                    position: absolute;
                    // z-index: 1000;
                    bottom: -30px;
                    right: 0;
                    // color: red;
                    font-size: 60px;
                    font-family: $apercuM;

                    @include breakpoint-up(large) {
                        right: -60px;
                        top: -50px;
                    }
                }

                &-pic {
                    height: 60%;

                    img {
                        width: 100%;
                    }
                }
            }
        }
    }

    &__grid {
        margin-top: 60px;
        margin-inline: 7%;
        display: grid;
        grid-template-columns: 1fr;
        grid-row-gap: 30px;

        @include breakpoint-up(large) {
            background: transparent;
            position: relative;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-gap: 80px 60px;
            margin-bottom: 100px;
        }

        &-item {
            span {
                // font-size: 16px;
                font-family: $apercuM;
            }

            h3 {
                font-size: 32px;
                font-family: $roman;
                margin: 0;
            }
        }

    }

    &__discount {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-block: 60px;
        margin-inline: 7%;
        gap: 60px;

        @include breakpoint-up(large) {
            flex-direction: row;
        }

        &-content {
            h2 {
                font-size: 55px;
                font-family: $roman;
                text-align: center;

                @include breakpoint-up(large) {
                    font-size: 100px;
                    line-height: 100px;
                    margin: 0;
                }
            }

            p {
                text-align: center;
                font-family: $apercuM;
            }
        }

        &-img {
            display: flex;
            width: 100%;
            justify-content: center;
            animation: move 1s ease-in-out alternate infinite;

            img {
                @include breakpoint-up(large) {
                    width: 180px;
                    height: 180px;
                }
            }
        }
    }

}

.second {
    animation: move 1s ease-in-out alternate-reverse infinite;

    img {
        transform: rotate(180deg);
    }
}


.thirdd {
    animation: move 0.9s ease-in-out alternate-reverse infinite;
}

@keyframes move {
    from {
        transform: translateY(-10px);
    }

    to {
        transform: translateY(10px);
    }
}