html {
  font-size: 100%;
  box-sizing: border-box;
}

*,
::before,
::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  list-style: 1.3;

  // font-family: 'Spartan', sans-serif;
  font-weight: 500;
  font-size: 16px;
  // color: $white;
}

h1,
h2,
h3 {
  margin-top: 0;
  //   margin-bottom: 0px;
}

// .container {
//   margin-left: 1.5rem;
//   margin-right: 1.5rem;
// }

.container {
  width: 100%;
  padding-right: 1.5rem;
  padding-left: 1.5rem;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
    margin-right: auto;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}


.flex {
  display: flex;

  &-jc-sb {
    justify-content: space-between;
  }

  &-jc-c {
    justify-content: center;
  }

  &-ai-c {
    align-items: center;
  }
}

// Visibility
.hide-for-mobile {
  @include breakpoint-down(medium) {
    display: none !important;
  }
}

.hide-for-desktop {
  @include breakpoint-up(large) {
    display: none !important;
  }
}

a,
a:visited,
a:hover {
  text-decoration: none;
}


.hide {
  display: none !important;
  // transition: 0.5s;
}

a {
  // color: $white;
  color: $black;
}

button {
  cursor: pointer;
}

.btn {
  width: 100%;
  border: 1px solid $black;
  padding: 20px;
  font-size: 16px;
  font-family: "apercu mono";
  text-align: center;
  background-color: transparent;

  @include breakpoint-up(large) {
    width: 25%;
  }
}


// Border animation
.border {
  background-image: linear-gradient(90deg, #000 50%, transparent 0), linear-gradient(90deg, #000 50%, transparent 0), linear-gradient(180deg, #000 50%, transparent 0), linear-gradient(180deg, #000 50%, transparent 0);
  background-position: 0 0, 0 100%, 0 0, 100% 0;
  background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;
  background-size: 30px 1px, 30px 1px, 1px 30px, 1px 30px;
  justify-content: center;
  animation: border-movement .4s infinite normal;
  animation-timing-function: linear;
  animation-play-state: paused;
  position: relative;
  cursor: pointer;
}

.border:hover {
  animation-play-state: running
}

@keyframes border-movement {
  0% {
    background-position: 0 0, 0 100%, 0 0, 100% 0
  }

  to {
    background-position: 30px 0, -30px 100%, 0 -30px, 100% 30px
  }
}